* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
}

header {
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}

header nav a {
    color: #FFFF;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

.menuMobile {
    display: none;
}

h1, h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
}

.botao {
    background-color: #FF725E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color: #FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;

}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}


#clinica li {
    margin-bottom: 16px;
    margin-left: 32px;
}

#farmacia {
    text-align: center;
    padding: 64px 80px;
}

#farmacia img {
    margin: 64px auto;
}

#farmacia .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.duvida {
    position: relative;
}


.duvida h3 {
    border: 2px solid #FF725E;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.duvida img{
 position: absolute;
 top: 32px;
 right: 24px;
}

.duvida .paragrafo {
    border-right: 1px solid #FF725E;
    border-bottom: 1px solid #FF725E;
    border-left: 1px solid #FF725E;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0, 0, 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .3s;
}

.duvida.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 152, 108, 0.25);
    gap: 80px;
    padding: 64px 80px;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a {
    color: #263138;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
    max-width: 350px;
}

footer p {
    margin-bottom: 16px;
}

footer p a {
    color: #FF725E;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {

    header {
        justify-content: space-between;
    }

    header nav a {
        padding: 18px;
    }

    .menu {
        display: none;
    }

    .menuMobile {
        display: flex;
        width: 40px;
        margin-right: -50px;
    }

    .botaoMenu {
        background-image: url(img/icon-menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
    }

    .botao__menu__ativo {
        color: #FFFFFF;
        background-color: #263138;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: 69px;
        transition: 0.25s;
        height: 315px;
        border-radius: 20px;
        width: 300px;
        font-size: 28px;
        z-index: 1;
      }
    
      .botao__menu__x {
        background-image: url(img/icon-x.png);
    
      }

    #inicio {
        flex-direction: column;
        padding: 24px 25px 128px 25px;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagensClinica {
        width: 100%;
        height: auto;
        display: block;

    }
    #clinica {
        flex-direction: column;
        padding: 64px 25px;
    }

    #farmacia {
        padding: 64px 25px;
    }

    #duvidas {
        flex-direction: column;
        padding: 64px 25px;
    }

    footer {
        flex-direction: column;
        gap: 18px;
    }

}

